.mainWrapper {
    background: #f1f1f1;
    display: flex;
}
.mainSide {
    width: 60%;
    padding: 30px;
}
.savedSide {
    width: 40%;
    padding: 30px;
    border-left: 1px solid #ccc;
}
.savePostsButton {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}
.savePostsButton button {
    height: 40px;
    padding: 0 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.saveButton {
    height: 40px;
    display: inline-block;
    width: auto;
    background: #f1f1f1;
    padding: 0 40px;
    cursor: pointer;
}