.listItem {
    display: flex;
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    flex: 0 49%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-direction: column;
}
@media screen and (max-width: 1600px){
    .listItem {
        flex: 0 100%;
    }
}
.deleteButton {
    margin-bottom: 15px;
}
.button {
    height: 25px;
    display: inline-block;
    width: auto;
    background: #f1f1f1;
    padding: 0 20px;
    cursor: pointer;
}
.listImageWrapper {
    display: flex;
    width: 100%;
    height: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.listImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.listContent {
    display: flex;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-direction: column;
}
.form {
    display: flex;
    margin-top: 20px;
    align-items: flex-end;
    justify-content: space-between;
}
.input {
    margin-right: 15px;
}